body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button, a {
    float: right;
}

img {
    margin: 10px;
    border-style: solid;
    border-width: 5px;
}

table {
    width: 800px;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;
}

#chart-root {
    width: 800px;
}

td {
    border: 1px solid rgb(207, 207, 207);
    padding: 3px 4px;
    color: black;
}

table thead {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 4px solid #333333;
}