body{
    margin-left: 10%;
    margin-right: 10%;
}
h1 {
    font-family: 'Eczar', serif;
    -webkit-margin-after: 0;
    line-height: 1px;
    font-size: 3.5em;
    font-weight: 700;
    color: #000;
    text-align: center;
}
h2 {
    font-family: 'Eczar', serif;
    font-size: 2.5em;
    font-weight: 500;
    color: rgba(0,0,0,.7);
    text-align: center;
}
#report-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    font-style: italic;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px dashed black;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    padding: 20px;
    border-radius: 15px;
    background-color: blanchedalmond;
}
