body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#chart-container {
    height: 350px;
}