h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2A3851;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2A3851;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #2A3851;
}


#product-vote-template img {
    display: inline;
}

img {
max-width: 200px;
border: solid rgb(66, 66, 85) 4px;
}