body {
    color: white;
}
#root {
    background-color: rgba(0, 0, 0, 0.651);
    border-style: solid;
    border-color: white;
    border-width: 3px;
    margin: 10px;
}
img {
 width: 250px;
 height: 250px;
 border-style: solid;
 cursor: pointer;

}
body {
    background-color: steelblue;
    text-align: center;
}
#image-area{
    width: 90%;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: solid;
    margin-bottom: 20px;
}
header {
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.664);
    margin: 10px;
}
#image-vote {
    display: flex;
    justify-content: center;
}
table {
    background-color: grey;
}
td {
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.63);;
}
#results-section{
    display: flex;
    align-items: left;
    flex-direction: row;

}
#chart-container {
    height: 450px;
    width: 80%;
}
#result-box {
    display: flex;
    align-content: flex-start;
}
a {
    color:grey;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
button {
    height: 3em;
    width:10em;
    color: white;
    background-color: grey;
    border-style: none
}
button:hover {
    background-color: rgb(105, 127, 160);
    cursor: pointer;
    border-style: solid;
    border-color: white;
}