body {
    color: white;
}
#root {
    background-color: rgba(0, 0, 0, 0.651);
    border-style: solid;
    border-color: white;
    border-width: 3px;
    margin: 10px;
    margin-bottom: 0px;
}

img {
 width: 300px;
 height: 300px;
 border-style: solid;
 cursor: pointer;
 margin-top: 10px;
 margin-bottom: 10px;

}
img:hover {
    transform: scale(1.1);
}
body {
    background-image: url('/assets/street.jpg');
    text-align: center;
}
#image-area{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

header {
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.664);
    margin: 10px;
    font-family: 'Bungee Shade', cursive;
}
#image-vote {
    display: flex;
    justify-content: center;
}

table {
    background-color: grey;
}
td {
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.63);;
}
#results-section{
    display: flex;
    align-items: left;
    flex-direction: row;

}
#chart-container {
    height: 450px;
    width: 80%;
}
#result-box {
    display: flex;
    align-content: flex-start;
}
a {
    color:rgb(204, 148, 65);
    text-decoration: none;
    text-transform: uppercase;
    
}
a:hover {
    cursor: pointer;
    color: lightgray;
}
button {
    height: 3em;
    width:8em;
    color: rgb(196, 145, 69);
    background-color: rgb(117, 116, 116);
    border-style: none;
    font-family: 'Bungee Shade', cursive;
    border-radius: 3px;
    font-size: 15px
}
button:hover {
    background-color: rgb(105, 127, 160);
    cursor: pointer;
    border-style: solid;
    border-color: white;
}
footer{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: white;
    background-color: rgb(0, 0, 0, 0.65);
    margin-left: 10px;
    margin-right: 10px;
}
#head-div {
    background-color: rgb(0, 0, 0, 0.651);
    width: 150px;
    height: 50px;
    margin: 5px;
    margin-top: -76.5px;
    border-style: solid;
    border-color: lightblue;
    border-width: 2px;
    border-radius: 10px;
}
h2 {
    font-size: 18px;
    margin-top: 3px;

}

h1 {
    font-family: 'Bungee Shade', cursive;
    color: rgb(204, 148, 65);
}
