body {
    color: white;
    margin: 0px;
}
#root {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    margin: 10px;
}
img {
 width: 250px;
 height: 250px;
 border-style: solid;

}
body {
    background-color: steelblue;
    text-align: center;
}
#image-area{
    width: 90%;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: solid;
}
header {
    border-style: solid;
    background-color: black;
}
#image-vote {
    display: flex;
    justify-content: center;
}
table {
    background-color: grey;
}
td {
    margin: 2px;
    background-color: black;;
}
#results-section{
    display: flex;
    align-items: center;
    flex-direction: column;

}
