img {
    width: 250px;
    height: auto;
}
body {
    height: 100%;
    color: white;
  
    background-image: url("images/whatisspacet.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


